*{
  background-color:aquamarine;
  
}
img{
  width:200px;
    border-radius: 100px;
    height: 200px;
    
  }
  .profil{
    display: flex;
    justify-content: center;
    
    
  }
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
  }
  .addrss{
    display: flex;
    justify-content: center;
  }